*class
*~
\#*
LICENSE
README.md
.idea
/DesignPatterns/Factory/DB_java/Factory_DerekB/nbproject/private/
/DesignPatterns/Factory/DB_java/Factory_DB/nbproject/private/
*.tar
*.gz
*pyc
.metadata/*
*pdf
*map
node_modules
*xml
*iml
*zip
Finished
OriginalCode
Original
*xercise*
vendor
original
angular-seed-master
Ex_Files
dist
docs
headfirstjquery
Source
egghead-angularjs
CSS_Tutorials
original
video-app
video-exercises