html {
    background: url(../img/fred-light.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: helveticaneue-light,helvetica,sans-serif;
    color:#333;
}
body {margin: 1% 10% 20% 10%;padding:0;}
header {color: rgb(3,193,197);font-size:3em;margin-bottom:1%;}
ul {list-style:none;margin:0;padding:0;}

#pages-list {float:left;min-width:300px;width:100%;height:100%;}
#pages-list li span.people {float:right;margin-left:5%;}
#pages-list li {
    padding-left:5%;
    padding-right:5%;
    margin-bottom:2%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size:1.3em;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background-color: rgb(154,233,227);
    opacity:0.7;
}
#pages-list li span {line-height: 370%;}
#pages-list a {color:#333;text-decoration: none;height:7%;width:100%;}
#pages-list li:hover {cursor:pointer;}
#pages-list li:hover a {text-decoration: underline;}

div.toprefs {display:none;margin-bottom:2%;}
div.title {margin-bottom:2%;}
#pages-list li ul.toprefs-list li {padding-right:0;margin-bottom:0;}
#pages-list li ul.toprefs-list li span {line-height:100%;font-size:0.8em;}

@media screen and (min-width: 960px)
{
    #pages-list li {margin-bottom:1%;}
}

@media screen and (max-width: 480px)
{
    #pages-list li {margin-bottom:4%;}
}